<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Machine</title>
</head>
<body>
    <div class="contianer">
        <div class="card">
            {% include "partials/navbar.html" %}
            {% include "partials/flag.html" %}
            <h1>Add Machine</h1>
        </div>

        <div class="card">
            <form method="POST">
                <label><strong>Unit Number</strong></label>
                <input type="text" name="unit_number" placeholder="52102" required>
                <br><br>

                <label><strong>Department</strong></label>
                <input type="text" name="department" placeholder="STREETS, PARKS, SOLID WASTE" required>
                <br><br>

                <label><strong>Serial Number</strong></label><br>
                <input type="text" name="serial_number" required>
                <br><br>

                <label><strong>VIN</strong></label>
                <input type="text" placeholder="17-digit VIN if applicable" name="vin_number">
                <br><br>

                <label><strong>Type</strong></label><br>
                <input type="text" name="type" placeholder="Excavator, Dumptruck, Pickup" required>
                <br><br>

                <label><strong>Make</strong></label><br>
                <input type="text" name="make" placeholder="CAT, John Deere, Ford" required>
                <br><br>

                <label><strong>Model</strong></label><br>
                <input type="text" name="model" placeholder="330e, F250">
                <br><br>

                <label><strong>Year</strong></label><br>
                <input type="number" name="year" min="1900" max="2100">
                <br><br>

                <label><strong>Meter Type</strong></label>
                <select name="meter_type" required>
                    <option value="hours">Hours</option>
                    <option value="miles">Miles</option>
                </select>
                <br>

                <p class="muted">
                    Meter reading will automatically update after the first inspection is completed.
                </p>
                <br><br>

                <label><strong>Status</strong></label><br>
                <select name="status" required>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="out_of_service">Out of Service</option>
                </select>
                <br><br>

                <button type="submit" class="primary">Add Machine</button>
                
            </form>
        </div>
    </div>
    
</body>
</html>