<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Equeipment Manager</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1>Equipment Manager Dashboard</h1>
                {% include "partials/navbar.html" %}
            </div>
           
            <div class="card">
                <h2>Work Order Summary</h2>

                <div class="summary-grid">
                    <div class="summary-card">
                        <h3>Open</h3>
                        <p>{{ work_order_counts.open }}</p>
                    </div>

                    <div class="summary-card">
                        <h3>Assigned</h3>
                        <p>{{ work_order_counts.assigned }}</p>
                    </div>

                    <div class="summary-card">
                        <h3>In Progress</h3>
                        <p>{{ work_order_counts.in_progress }}</p>
                    </div>

                    <div class="summary-card">
                        <h3>Waiting On Parts</h3>
                        <p>{{ work_order_counts.waiting_on_parts }}</p>
                    </div>

                    <div class="summary-card">
                        <h3>Repair Complete</h3>
                        <p>{{ work_order_counts.repair_complete }}</p>
                    </div>

                    <div class="summary-card">
                        <h3>closed</h3>
                        <p>{{ work_order_counts.closed }}</p>
                    </div>

                </div>
            </div>
            
            <div class="card">
                <h2>Mechanics</h2>

                {% if mechanics and mechanics|length > 0 %}
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                        </tr>
                        {% for m in mechanics %}
                            <tr>
                                <td>{{ m.user_id }}</td>
                                <td>{{ m.name }}</td>
                                <td>{{ m.email }}</td>
                                <td>{{ m.status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No mechanics found.</p>
                {% endif %}
            </div>
            
        </div>      
    </body>
</html>