<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mechanic Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1>Mechanic Dashboard</h1>
                {% include "partials/navbar.html" %}
                </form>
            </div>
            
            <div class="card">
               <h2>My Work Orders</h2>

               {% if work_orders and work_orders|length > 0 %}
                    <table>
                        <tr>
                            <th>WO #</th>
                            <th>Machinee</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Created</th>
                            <th>Notes</th>
                        </tr>

                        {% for wo in work_orders %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('work_order.work_order_detail', work_order_id=wo.work_order_id) }}">
                                        #{{ wo.work_order_id }}
                                    </a>
                                </td>

                                <td>
                                    <a href="{{ url_for('machine.machine_profile', machine_id=wo.machine_id) }}">
                                        {{ wo.unit_number }}
                                    </a>
                                    -{{ wo.make }} {{ wo.model }}
                                </td>

                                <td>{{ wo.status }}</td>
                                <td>{{ wo.priority }}</td>
                                <td>{{ wo.created_at }}</td>
                                <td>{{ wo.notes or "" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No work orders assigned.</p>
                {% endif %}  
            </div>
        </div>
    </body>
</html>