<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Operator Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Equipment Manager Dashboard</h1>
        {% include "partials/navbar.html" %}
        <form method="POST" action="/logout">
            <button type="submit">Logout</button>
        </form>

        <hr />
        <p>Next: show open work orders, assign/group into mechanic assignmetns.</p>
    </body>
</html>