<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Foreman Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1>Equipment Manager Dashboard</h1>
                {% include "partials/navbar.html" %}
            </div>
        <div class="card">
            <nav>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('new_inspection') }}"></a>
            </nav>
        </div>
            <p>Next: show open work orders, assign/group into mechanic assignmetns.</p>
        </div>
    </body>
</html>