<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Inspection</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <h1>New Inspection</h1>
               {% include "partials/navbar.html" %}
            </div>
        </div>

        <div class="card">
            <form method="POST">

                <h2>{{ machine.make }} {{ machine.model }}</h2>
                <p class="muted">Serial: {{ machine.serial_number }}</p>
                <p>Last updated meter reading: {{ machine.current_meter_reading }}</p>

                {% if existing_inspection %}
                    <div class="card">
                        <p><strong>Open Inspection Active</strong></p>
                        <p>
                            Opening meter: 
                            {{ existing_inspection["opening_meter"] }}
                        </p>
                        

                        <label><strong>Current/Ending Hours Meter</strong></label>
                        <br>

                        <input type="number" name="current_meter" required>

                        <br><br>

                        <label>
                            <input type="radio" name="inspection_action" value="update" required>
                            Update inspection only
                        </label>

                        <br>

                        <label>
                            <input type="radio" name="inspection_action" value="close" required>
                            Close inspection
                        </label>
                    </div>
                {% else %}
                    <div class="card">
                        <p><strong>Opening Inspection</strong></p>

                        <label><strong>Opening hours/ meter</strong></label>
                        <br>
                        <input type="number" name="opening_meter" required>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="job_id">Jobs</label>

                    <select name="job_id" id="job_id">
                        <option value="">--- Select Job ---</option>

                        {% for job in jobs %}
                            <option 
                                value="{{ job.job_id }}"
                                {% if machine.current_job_id == job.job_id %}
                                    selected
                                {% endif %}
                            >
                                {{ job.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <h2>Checklist</h2>

                <table>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>Note</th>
                        <th>Decision</th>
                    </tr>

                    {% for item in checklist_items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <input type="radio"
                                        name="item_{{ item.master_item_id }}"
                                        value="pass"
                                        required
                                        >
                            </td>
                            <td>
                                <input type="radio"
                                        name="item_{{ item.master_item_id }}"
                                        value="fail"
                                        >
                            </td>
                            <td>
                                <input 
                                    type="text"
                                    name="note_{{ item.master_item_id }}"
                                    placeholder="Explain faild item"    
                                >
                            </td>
                            <td>
                                <select name="decision_{{ item.master_item_id }}">
                                    <option value="">N/A</option>
                                    <option value="continue_running">Continue Running</option>
                                    <option value="down">Down/ Do Not Operate</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <br>

                <label><strong>Inspection Notes</strong></label>
                <br>

                <textarea name="notes"
                        rows="5"
                        style="width: 100%;"></textarea>
                
                <br><br>

                <button type="submit" class="primary">
                    Submit Inspeciton
                </button>
            </form>
        </div>
    </div>
</body>
</html>