<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inspections</title>
</head>

<body>
    <div class="container">

        <div class="header">
            <div>
                <h1>Inspections</h1>
                {% include "partials/navbar.html" %}
            </div>
        </div>

        <div class="card">
            {% if inspections and inspections|length > 0 %}
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Machine</th>
                        <th>Operator</th>
                        <th>Passed</th>
                        <th>Notes</th>
                        <th>Profile</th>
                    </tr>

                    {% for inspection in inspections %}
                        <tr>
                            <td>{{ inspection.inspection_id }}</td>
                            <td>{{ inspection.inspection_date}}</td>
                            <td>
                                {{ inspection.make }} {{ inspection.model}}
                                <br>
                                <span class="muted">{{ inspection.serial_number }}</span>
                            </td>
                            <td>
                                {% if inspection.operator_name %}
                                    {{ inspection.operator_name }}
                                {% else %}
                                    You
                                {% endif %}
                            </td>
                            <td>{{ "Yes" if inspection.passed == 1 else "No"}}</td>
                            <td>{{ inspection.notes }}</td>
                            <td>
                                <a href="{{ url_for('machine.machine_profile', machine_id=inspection.machine_id) }}">
                                    Machine
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No inspections found.</p>
            {% endif %}
        </div>

    </div>
    
</body>
</html>