<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">

        <div class="header">
            
            <div>
                <h1>Machine Profile</h1>
                {% include "partials/navbar.html" %}
                <h1>{{ machine.make }} {{ machine.model }}</h1>
                <p class="muted">{{ machine.type }} | {{ machine.serial_number }}</p>  
            </div>
        </div>
    

        <div class="card">
            <h2>Machine Info</h2>
            <p><strong>ID:</strong> {{ machine.unit_number }}</p>
            <p><strong>Year:</strong> {{ machine.year }}</p>
            <p><strong>VIN:</strong> {{ machine.vin_number or "N/A" }}</p>
            <p><strong>Status:</strong> {{ machine.status }}</p>
            <p><strong>Operational State</strong> {{ machine.operational_state }}</p>
            <p><strong>Current Meter:</strong> {{ machine.current_meter_reading or 0 }}</p>
        
            {% if machine.job_name %}
                <p><strong>Current Job:</strong> {{ machine.job_name }} - {{ machine.job_location }}</p>
            {% else %}
                <p><strong>Current Job:</strong> Unnassigned</p>
            {% endif %}

            <p>
                <a href="{{ url_for('new_inspection', machine_id=machine.machine_id) }}">
                    Inspect Machine
                </a>
            </p>

            {% if user.role == "equipment_manager" %}
                <p>
                    <a href="{{ url_for('manage_machine_checklist', machine_id=machine.machine_id) }}">
                        Manage Checklist
                    </a>
                </p>
            {% endif %}
        </div>

        <div class="card">
            <h2>Active Faults</h2>

            {% if open_faults and open_faults|length > 0 %}
                <table>
                    <tr>
                        <th>Fault</th>
                        <th>First Reported</th>
                        <th>Last Reported</th>
                        <th>Work Order</th>
                    </tr>

                    {% for fault in open_faults %}
                        <tr>
                            <td>{{ fault.item_name }}</td>
                            <td>{{ fault.first_reported_at }}</td>
                            <td>{{ fault.last_reported_at or "N/A" }}</td>
                            <td>
                                {% if fault.work_order_id %}
                                    #{{ fault.work_order_id }}
                                {% else %}
                                    Not Linked
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No active faults.</p>
            {% endif %}
        </div>

        <div class="card">
            <h2>Open Work Orders</h2>
            {% if open_work_orders and open_work_orders|length > 0 %}
                <table>
                    <tr>
                        <th>WO #</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                        <th>Notes</th>
                    </tr>

                    {% for wo in open_work_orders %}
                        <tr>
                            <td>
                                <a href="{{ url_for('work_order_detail', work_order_id=wo.work_order_id) }}">
                                    #{{ wo.work_order_id }}
                                </a>
                            </td>
                            <td>{{ wo.status }}</td>
                            <td>{{ wo.priority }}</td>
                            <td>
                                {% if wo.assigned_to_name %}
                                    {{ wo.assigned_to_name }}
                                {% else %}
                                    Unassigned
                                {% endif %}
                            </td>
                            <td>{{ wo.created_at }}</td>
                            <td>{{ wo.notes }}</td>
                        </tr>
                    {% endfor %}
            </table>
            {% else %}
            <p>No open work orders.</p>
            {% endif %}
        </div>

        <div class="card">
            <h2>Recent Inspections</h2>

            {% if recent_inspections and recent_inspections|length > 0 %}
                <table>
                    <tr>
                        <th>Inspcection #</th>
                        <th>Date</th>
                        <th>Operator</th>
                        <th>Passed</th>
                        <th>Notes</th>
                    </tr>
                    {% for inspection in recent_inspections %}
                        <tr>
                            <td>{{ inspection.inspection_id }}</td>
                            <td>{{ inspection.inspection_date }}</td>
                            <td>{{ inspection.operator_name }}</td>
                            <td>{{ "Yes" if inspection.passed == 1 else "No" }}</td>
                            <td>{{ inspection.notes }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No inspections found for this machine.</p>    
            {% endif %}
        </div>
    </div>
</body>
</html>