<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Manage Part Request</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <h1>Manage Part Request</h1>
                {% include "partials/navbar.html" %}
                {% include "partials/flag.html" %}
            </div>
        </div>

        <div class="card">
            <h2>Part Request</h2>

            <form method="POST">
                <label><strong>Part Number</strong></label><br>
                <input type="text" name="part_number" value="{{ part.part_number or '' }}">

                <br><br>

                <label><strong>Description</strong></label><br>
                <input type="text" name="description" value="{{ part.description }}" required>

                <br><br>

                <label><strong>Quantity</strong></label><br>
                <input type="number" name="quantity" step="0.01" value="{{ part.quantity }}" required>

                <br><br>
                <label><strong>Status</strong></label><br>
                <select name="status" required>
                    <option value="needed" {{ "selected" if part.status == "needed" else ""}}>Needed</option>
                    <option value="ordered" {{ "selected" if part.status == "ordered" else ""}}>Ordered</option>
                    <option value="received" {{ "selected" if part.status == "recieved" else ""}}>Recieved</option>
                    <option value="installed" {{ "selected" if part.status == "installed" else ""}}>Installed</option>
                </select>

                <br><br>

                <label><strong>Notes</strong></label><br>
                <textarea name="note" rows="4" style="width: 100%">{{ part.note or "" }}</textarea>

                <br><br>

                <button type="submit" class="primary">Save Part Request</button>

                <a href="{{ url_for('work_order.work_order_detail', work_order_id=part.work_order_id) }}">
                    cancel
                </a>
            </form>
        </div>

        
        <div class="card">
            <h2>Catalog Part</h2>

            {% if part.part_id and linked_part %}
                <p><strong>Status:</strong> Linked</p>

                <p>
                    <strong>Part Number:</strong>
                    {{ linked_part.part_number or "No part number" }}
                </p>

                <p>
                    <strong>Part Name:</strong>
                    {{ linked_part.name }}
                </p>

                <p>
                    <strong>Manufacturer:</strong>
                    {{ linked_part.manufacturer or "N/A" }}
                </p>

                <p>
                    <strong>Description:</strong>
                    {{ linked_part.description or "N/A" }}
                </p>

                <hr>

                <form method="POST"
                    action="{{ url_for(
                        'part.link_catalog_part_route',
                        work_order_part_id=part.work_order_part_id
                    ) }}">
                    <label><strong>Change Catalog Part</strong></label>
                    <br>

                    <select name="catalog_part_id" required>
                        {% for catalog_part in catalog_parts %}
                            <option 
                                value="{{ catalog_part.part_id }}"
                                {% if catalog_part.part_id == part.part_id %}selected{% endif %}
                            >
                                {{ catalog_part.part_number or "No Part #" }}
                                - {{ catalog_part.name }}
                            </option>
                        {% endfor %}
                    </select>

                    <br><br>

                    <button type="submit" class="primary">
                        Update Link
                    </button>
                </form>
            {% else %}
                <p>No catalog part linked.</p>

                {% if catalog_parts %}
                    <form method="POST"
                        action="{{ url_for(
                            'part.link_catalog_part_route',
                            work_order_part_id=part.work_order_part_id
                    ) }}">
                            
                            <label><strong>Select Catalog Part</strong></label>
                            <br>

                            <select name="catalog_part_id" required>
                                <option value="">-- Select Part --</option>

                                {% for catalog_part in catalog_parts %}
                                    <option value="{{ catalog_part.part_id }}">
                                        {{ catalog_part.part_number or "No Part #" }}
                                        -{{ catalog_part.name }}
                                    </option>
                                {% endfor %}
                            </select>

                            <br><br>

                            <button type="submit" class="primary">
                                Link Catalog Part
                            </button>
                    </form>

                    <hr>

                    <p>Cannot find the correct part?</p>

                    <a href="{{ url_for(
                        'part.add_catalog_part',
                        work_order_part_id=part.work_order_part_id
                    ) }}">
                        Create New Catalog Part
                    </a>

                {% else %}
                    <p>No catalog parts are available yet.</p>

                    <a href="{{ url_for(
                        'part.add_catalog_part',
                        work_order_part_id=part.work_order_part_id
                    ) }}">
                        Crate First Catalog Part
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>