<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Work Orders</title>
</head>
<body>
    <div class="contianer">

        <div class="header">
            <div>
                <h1>Work Orders</h1>
                {% include "partials/navbar.html" %}
                
            </div>
        </div>

        <div class="card">
            <h2>All Work Orders</h2>

            {% for status in status_order %}
                <div class="card">
                    <h2>{{ status_labels[status] }}</h2>

                    {% set orders = grouped_work_orders[status] %}

                    {% if orders and orders|length > 0 %}
                        <table>
                            <tr>
                                <th>WO #</th>
                                <th>Machine</th>
                                <th>Priority</th>
                                <th>Assigned</th>
                                <th>Created</th>
                                <th>Notes</th>
                            </tr>

                            {% for wo in orders %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('work_order_detail', work_order_id=wo.work_order_id) }}">
                                            {{ wo.work_order_id }}
                                        </a>
                                    </td>
                                    
                                    <td>
                                        <a href="{{ url_for('machine.machine_profile', machine_id=wo.machine_id) }}">
                                            {{ wo.unit_number }}
                                        </a>
                                        -{{ wo.make }} {{ wo.model }}
                                    </td>

                                    <td>{{ wo.priority }}</td>
                                    <td>{{ wo.mechanic_name or "Unassigned" }}</td>
                                    <td>{{ wo.created_at }}</td>
                                    <td>{{ wo.notes or "" }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No {{ status_labels[status]|lower }} work orders.</p>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    

       
    </div>
</body>
</html>