<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Order Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">

        <div class="header">
            <div>
                <h1>Work order #{{ work_order.work_order_id }}</h1>
                {% include "partials/navbar.html" %}
            </div>
        </div>

        <div class="card">
            <h2>Word Order Info</h2>

            <p><strong>Status:</strong> {{ work_order.status }}</p>
            <p><strong>Priority:</strong> {{ work_order.priority }}</p>
            <p><strong>Created:</strong> {{ work_order.created_at }}</p>
            <p><strong>Completed:</strong> {{ work_order.completed_at or "Not completed" }}</p>
            <p><strong>Created By:</strong> {{ work_order.created_by_name }}</p>
            <p><strong>Assigned to:</strong> {{ work_order.assigned_to_name or "Unassigned" }}</p>

            <p><strong>Notes:</strong></p>
            <p>{{ work_order.notes }}</p>
        </div>

        <div class="card">
            <h2>Machine</h2>

            <p>
                <strong>Machine:</strong>
                {{ work_order.unit_number }} -
                {{ work_order.make }} {{ work_order.model }}
            </p>

            <p><strong>Serial:</strong> {{ work_order.serial_number }}</p>
            <p><strong>Type:</strong> {{ work_order.type }}</p>

            <p>
                <a href="{{ url_for('machine_profile', machine_id=work_order.machine_id) }}">
                    View Machine Profile
                </a>
            </p>
        </div>

        <div class="card">
            <h2>Link Fault</h2>

            {% if work_order.fault_id %}
                <p><strong>Fault:</strong> {{ work_order.fault_item_name }}</p>
                <p><strong>Status:</strong> {{ work_order.fault_status }}</p>
                <p><strong>First Reported:</strong> {{ work_order.first_reported_at }}</p>
                <p><strong>Last Reported:</strong> {{ work_order.last_reported_at or "N/A" }}</p>
                <p><strong>Closed:</strong> {{ work_order.fault_closed_at or "Not closed"}}</p>
            {% else %}
                <p>No linked machine fault.</p>
            {% endif %}
        </div>

        <div class="card">
            <h2>Timeline</h2>

            {% if timeline and timeline|length > 0 %}
                {% for item in timeline %}
                    <div style="margin-bottom: 16px;">
                        {% if item.timeline_type == "event" %}
                            <p>
                                <strong>[SYSTEM] {{ item.event_type }}</strong>
                                <span class="muted">- {{ item.created_at }}</span>
                            </p>
                            <p>{{ item.description }}</p>
                        {% else %}
                            <p>
                                <strong>{{ item.user_name }}</strong>
                                <span class="muted">({{ item.user_role }}) - {{ item.created_at }} </span>
                            </p>
                            <p>{{ item.description }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No timeline activity yet.</p>
            {% endif %}

            <hr>

            <form method="POST" action="{{ url_for('add_work_order_comment_route', work_order_id=work_order.work_order_id) }}">
                <textarea name="comment"
                rows="4"
                style="width: 100%"
                placeholder="Add update, note, or repair comment.."
                required
                ></textarea>

                <br><br>

                <button type="submit" class="primary">Add Comment</button>
            </form>

            
        </div>

        <div class="card">
            <h2>Add Part</h2>

            <form method="POST" action="{{ url_for('add_work_order_part_route', work_order_id=work_order.work_order_id) }}">
                <label><strong>Part Number</strong></label>
                <br>
                <input type="text" name="part_number">

                <br><br>

                <label><strong>Description</strong></label>
                <br>
                <input type="text" name="description" required>

                <br><br>

                <label><strong>Quantity</strong></label>
                <br>
                <input type="number" name="quantity" step="0.01" value="1" required>

                <br><br>

                <label><strong>Status</strong></label>
                <br>
                <select name="status" required>
                    <option value="needed">Needed</option>
                    <option value="ordered">Ordered</option>
                    <option value="recieved">Received</option>
                    <option value="installed">Installed</option>
                </select>

                <br><br>

                <label><strong>Note</strong></label>
                <br>
                <textarea name="note" rows="3" style="width: 100%;"></textarea>

                <br><br>

                <button type="submit" class="primary">
                    Add Part
                </button>

            </form>
        
        </div>

        <div class="card">
            <h2>Parts</h2>

            {% if parts and parts|length > 0 %}
                <table>
                    <tr>
                        <th>Part Number</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>Added</th>
                    </tr>

                    {% for part in parts %}
                        <tr>
                            <td>{{ part.part_number }}</td>
                            <td>{{ part.description }}</td>
                            <td>{{ part.quantity }}</td>
                            <td>
                                <form method="POST" 
                                    action="{{ url_for('update_work_order_part_status_route', work_order_id=work_order.work_order_id, part_id=part.part_id) }}">

                                    <select name="status">
                                        <option value="needed" {{ "selected" if part.status == "needed" else "" }}>Needed</option>
                                        <option value="ordered" {{ "selected" if part.status == "ordered" else "" }}>Ordered</option>
                                        <option value="received" {{ "selected" if part.status == "received" else "" }}>Received</option>
                                        <option value="installed" {{ "selected" if part.status == "installed" else "" }}>Installed</option>
                                    </select>

                                    <button type="submit">
                                        update
                                    </button>
                                </form>
                            </td>
                            <td>{{ part.note or "" }}</td>
                            <td>{{ part.created_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No parts added yet.</p>
            {% endif %}
        </div>


    </div>   
</body>
</html>