<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Work Orders</title>
</head>
<body>
    <div class="contianer">

        <div class="header">
            <div>
                <h1>Work Orders</h1>
                {% include "partials/navbar.html" %}
                
            </div>
        </div>

        <div class="card">
            <h2>All Work Orders</h2>

            {% if work_orders and work_orders|length > 0 %}
                <table>
                    <tr>
                        <th>WO #</th>
                        <th>Machine</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                        <th>Notes</th>
                    </tr>

                    {% for wo in work_orders %}
                        <tr>
                            <td>
                                <a href="{{ url_for('work_order_detail', work_order_id=wo.work_order_id) }}">
                                    #{{ wo.work_order_id }}
                                </a>
                            </td>

                            <td>
                                <a href="{{ url_for('machine_profile', machine_id=wo.machine_id) }}">
                                    {{ wo.unit_number }}-
                                    {{ wo.make }} {{ wo.model }}
                                </a>
                            </td>

                            <td>{{ wo.status }}</td>
                            <td>{{ wo.priority }}</td>
                            <td>{{ wo.mechanic_name or "Unassigned" }}</td>
                            <td>{{ wo.created_at }}</td>
                            <td>{{ wo.notes or "" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No work orders found.</p>
            {% endif %}

        </div>
    

       
    </div>
</body>
</html>